<h1>Edit Book </h1>
<center>
<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories%>
   <%= f.input :title, label: "Book Title" %>
  <%= f.input :description, label: "Description" %>
  <%
=begin%>
 <% debugger %> 
<%
=end%>
  <%= f.simple_fields_for :price do |b| %>
    <%= b.input :cost, label: "Cost of book"%>
    <%= b.input :pages, label: "Pages"%>
  <% end %>
  <%= f.input :author, label: "Author" %>
  <%= f.button :submit %>
<% end %>
</center>



