<html>
<body style="background-color:#b0c4de">
<div class="container-fluid pb-5">
<center><h2><i> Want to speak up to the world...</i></h2></center>
<br><br>
<div id="new_blog">
<%= render 'form' %>
</div>
</div>
<%
=begin%>
 <%= turbo_frame_tag "frame1" do %>  
<%
=end%>
<%
=begin%>
 <%= turbo_stream_from "mystr" %> 
 <div class = "container-fluid" id="content">
<center><%= button_to "Load Names", time_path %></center>
</div> 
<%
=end%>
<div id="blog_display">
 <%= render 'blog_name'%>
</div>

<%
=begin%>
 <% end %>  
<%
=end%>
</body>
</html>